/*--------- slider ---------*/
#slide { position:relative; overflow:hidden; width:920px; padding:44px 40px 0 40px; z-index:2;}

.slider { width:920px; height:429px; margin:0 auto; position:relative; z-index:2; }
.items { display:none;}

.pagination { display:none; }

.prev {position:absolute; top:242px; left:49px; display:block; width:61px; height:70px; background:url(../images/prev.png) 0 0 no-repeat; z-index:99;}
.prev:hover {background-position:0 bottom;}
.next {position:absolute; top:242px; right:49px; display:block; width:61px; height:70px; background:url(../images/next.png) 0 bottom no-repeat; z-index:99;}
.next:hover {background-position:0 0;}

.banner{display:none;}




/*--------- slider ---------*/
#sli { position:relative; overflow:hidden; width:828px; padding:40px 36px 0 36px; z-index:2;}

.slid { width:828px; height:386px; margin:0 auto; position:relative; z-index:2; }


.pr {position:absolute; top:217px; left:45px; display:block; width:55px; height:763px; background:url(../images/prev.png) 0 0 no-repeat; z-index:99;}
.pr:hover {background-position:0 bottom;}
.nex {position:absolute; top:217px; right:45px; display:block; width:55px; height:63px; background:url(../images/next.png) 0 bottom no-repeat; z-index:99;}
.nex:hover {background-position:0 0;}
